<?xml version="1.0"?>
<!--
/**
 * Hackathon_Blackfireio extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Hackathon
 * @package        Hackathon_Blackfireio
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
 -->
<config>
    <modules>
        <Hackathon_Blackfireio>
            <version>1.0.0</version>
        </Hackathon_Blackfireio>
    </modules>
</config>